.projects {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.manage {
  display: flex;
  margin-bottom: 80px;
}

.bookmark {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 80px;
}

.insure {
  display: flex;
  margin-bottom: 80px;
}

.fylo {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 80px;
}

.photo-side {
  width: 540px;
  height: 500px;
}

.text-side-right {
  width: 350px;
  height: 500px;
  margin-left: 125px;
  border-top: 1px solid $Borders;
  border-bottom: 1px solid $Borders;

  h1 {
    margin-top: 108px;
    margin-bottom: 30px;
    font-family: Ibarra Real Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    color: $GrayishDarkBlue;
  }

  p {
    margin-bottom: 30px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: $GrayishDarkBlue;
    opacity: 0.8;
  }
}

.text-side-left {
  width: 350px;
  height: 500px;
  margin-right: 125px;
  border-top: 1px solid $Borders;
  border-bottom: 1px solid $Borders;

  h1 {
    margin-top: 108px;
    margin-bottom: 30px;
    font-family: Ibarra Real Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    color: $GrayishDarkBlue;
  }

  p {
    margin-bottom: 30px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: $GrayishDarkBlue;
    opacity: 0.8;
  }
}

.view-project {
  width: 175px;
  height: 48px;
  border: 1px solid black;
  background-color: white;

  a {
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $GrayishDarkBlue;
  }
}
