// primary

$SlightlyDesaturatedCyan: #5fb4a2;
$DarkBlue: #203a4c;
$GrayishDarkBlue: #33323d;

//secondary

$VeryLightGrey: #fafafa;
$LightGrey: #eaeaeb;
$BrightRed: #f43030;
$ButtonBorder: #0000;
$ButtonBackGround: #fff;
$Borders: rgba(51, 50, 61, 0.15);
